
			body {
				background-color: #e5f6df;
				width: 100%;
				height: 100%;
			}

			.firstsection {
				text-align: center;
				margin-top: 90px;
			}

			
			.navbar {
				background-color: green;
				top: 0;
				left: 0;
				margin: 0;
				padding: 0;
				position: fixed;
				vertical-align: top;
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
				
			.navbarleft {
				list-style-type: none;
			}

			.navbarright {
				list-style-type: none;
				display: flex;
			}

			nav a {
				color: white;
				text-decoration: none;
				padding: 10px;
			}

			nav a:hover {
				font-weight: bold;

			}

			nav a:visited {
				color: white;
				text-decoration: none;
				font-weight: normal;
			}

			nav a:active {
				font-weight: bold;
			}

			.louisville {
				float: left;
				width: 50%;
				padding: 5px;
			}

			.louisvillerow::after { /* Source: W3Schools */  
				content: "";
				clear: both:
				display: table;
			}

			.hanover {
				float: left;
				width: 50%;
				padding: 5px;
			}

.			.hanoverrow::after { /* Source: W3Schools */ 
				content: "";
				clear: both;
				display: table;

			}

			.describinglouisville {
				text-align: left;
			}

			.describinghanover {
				text-align: right;
			}
			h1 {
				text-align: center;
				font-size: xxx-large;
				font-family: Georgia, Calibri, serif;
			}
			h3 {
				text-align: center;
				width: 50%;
				margin-right: auto;
				margin-left: auto;
				background-color: #e5f6df;
				color: white;
				padding-top: 10px;
				padding-bottom: 10px;
				font-family: "Times New Roman", Calibri, serif;
				font-size: x-large;
			}

			
			
			p, label, tr, li {
				font-family: Arial, Verdana, serif;
			}

			.center {
			display: block;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			list-style-position: inside;	
			width: 50%;
			}

			.formcenter {
			display: block;
			margin-right: auto;
			margin-left: auto;
			text-align: left;
			width: 50%;
			}

			.tablecenter {
			display: block;
			margin-right: auto;
			margin-left: auto;
			list-style-position: inside;	
			width: 50%;
			}

			.formcomponents {
				padding-bottom: 10px;
				width: 100%;
			}

			.emboldenedname {
				font-weight: bold;
			}

			.listcenter {
			display: block;
			margin-right: auto;
			margin-left: auto;
			text-align: left;
			width: 50%;
			}

			.courselinks, .courseswithoutlinks {
				color: green;
				background-color: transparent;
				text-decoration: none;
			}
			
			.courselinks:visited {
				color: green;
				background-color: transparent;
				text-decoration: none;
			}
			
			.courselinks:hover {
				color: green;
				background-color: transparent;
				text-decoration: underline;
			}

			#imageofme {
			border-radius: 50%;
			width: 10%;
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 30px;
			padding-bottom: 30px;
			}

			/* #imageofhanover {
			width: 50%;
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 30px;
			padding-bottom: 10px;
			} */ 

			#imageofbook, #picturewithpasta {
			width: 15%;
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 30px;
			padding-bottom: 10px;
			}

			#imagewithbrother {
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 30px;
			padding-bottom: 10px;
			width: 50%;
			}

			#imageofpuertorico {
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 30px;
			padding-bottom: 10px;
			width: 50%;
			}

			.twoimagesinasingleline {
				width: 50%;
				margin-right: auto;
				margin-left: auto;
				display: flex;
			}

			.eachimage {
				flex: 50%;
				padding: 5px;
			}

			figcaption {
				text-align: center;
				font-family: Arial, Calibri, sans-serif;
				font-size: small;
			}

			.footer {
				text-align: center;
				font-size: x-small;
				font-family: serif; 
				bottom: 0;
				position: absolute;
				vertical-align: bottom;
			}

			table {
				border: 1px solid black;
				border-spacing: 10px;
			}

			th {
				width: 16.6%;
				border-bottom: 1px solid black;
				padding-bottom: 7px;
			}

			.hoverabletablerows:hover {
				background-color: #dedede;
			}

			#majorimagegrid {
				display: flex;
				flex-wrap: wrap;
				padding: 0 4px;
				width: 50%;
				margin-right: auto;
				margin-left: auto;
			}

			.majorcolumn { /* Source: W3Schools */ 
  				float: left;
				display: inline-block;
			}

			.majorcolumn img {
  				margin-top: 12px;
				height: 80px;
			}

			#majorimagegrid:after {
  				content: "";
 				display: table;
 				clear: both;
			}
				
