			body {
				background-color: #e5f6df;
				width: 100%;
				height: 100%;
			}

			.firstsection {
				text-align: center;
				margin-top: 90px;
			}

			.subsection {
				margin-bottom: 50px;
			}

			#imagewithcaption {
				display: flex;
				justify-content: center;
				width: 50%;
				margin: auto;
				 
			}

			#volunteeringpicture {
				float: left;
				width: 250px;
				height: 230px;
				padding-right: 20px;
				display: block;
			}

			#internships {
				clear: left;
			}
			

			.navbar {
				background-color: green;
				top: 0;
				left: 0;
				margin: 0;
				padding: 0;
				position: fixed;
				vertical-align: top;
				width: 100%;
				display: flex;
				justify-content: space-between;
				z-index: 3;
			}
				
			.navbarleft {
				list-style-type: none;
			}

			.navbarright {
				list-style-type: none;
				display: flex;
			}

			nav a {
				color: white;
				text-decoration: none;
				padding: 10px;
			}

			nav a:hover {
				font-weight: bold;

			}

			nav a:visited {
				color: white;
				text-decoration: none;
				font-weight: normal;
			}

			nav a:active {
				font-weight: bold;
			}

			h1 {
				text-align: center;
				font-size: xxx-large;
				font-family: Georgia, Calibri, serif;
			}
			h3 {
				text-align: center;
				width: 50%;
				margin-right: auto;
				margin-left: auto;
				background-color: green;
				color: white;
				padding-top: 10px;
				padding-bottom: 10px;
				font-family: "Times New Roman", Calibri, serif;
				font-size: x-large;
			}

			p, label, tr, li {
				font-family: Arial, Verdana, serif;
			}

			.center {
			display: block;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			list-style-position: inside;	
			width: 50%;
			}

			.formcenter {
			display: block;
			margin-right: auto;
			margin-left: auto;
			text-align: left;
			width: 50%;
			}

			.tablecenter {
			display: block;
			margin-right: auto;
			margin-left: auto;
			list-style-position: inside;	
			width: 50%;
			}

			.formcomponents {
				padding-bottom: 10px;
				width: 100%;
			}

			.emboldenedname {
				font-weight: bold;
			}

			.listcenter {
			display: block;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			width: 50%;
			list-style-position: inside; /* Help on this: W3Schools */
			}

			.courselinks, .courseswithoutlinks {
				color: green;
				background-color: transparent;
				text-decoration: none;
			}

			.imagelinks {
				width: 15%;
				z-index: -2;
			}
			
			.courselinks:visited {
				color: green;
				background-color: transparent;
				text-decoration: none;
			}
			
			.courselinks:hover {
				color: green;
				background-color: transparent;
				text-decoration: underline;
				font-weight: bold;
			}

			.majorimagecontainer, .funphotocontainer {
				position: relative;
				text-align: center;
			}

			.text, .funphototext { 
				position: absolute; 
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%); /* Soure for help on this: W3Schools */
			}

			#imageofme {
			border-radius: 50%;
			width: 10%;
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 30px;
			padding-bottom: 30px;
			}

			#imageofhanover, #mapoflouisville {
			width: 65%;
			height: 300px;
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 10px;
			padding-bottom: 10px;
			} 

			#imageofbook, #picturewithpasta {
			width: 15%;
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 30px;
			padding-bottom: 10px;
			}

			#imagewithbrother {
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 30px;
			padding-bottom: 10px;
			width: 50%;
			}

			#imageofpuertorico {
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 30px;
			padding-bottom: 10px;
			width: 50%;
			}

			#emailicon {
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-bottom: 10px;
			width: 50%;
			height: 90px;
			}

			#linkedinicon {
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-bottom: 10px;
			width: 50%;
			height: 90px;
			}

			.twoimagesinasingleline {
				width: 50%;
				margin-right: auto;
				margin-left: auto;
				display: flex;
			}

			.eachimage {
				flex: 50%;
				padding: 5px;
			}

			figcaption {
				text-align: center;
				font-family: Arial, Calibri, sans-serif;
				font-size: small;
			}

			.footer {
				width: 100%;
				text-align: center;
				margin-right: auto;
				margin-left: auto;
				font-size: x-small;
				font-family: serif; 
				bottom: 0;
				position: absolute;
				vertical-align: bottom;
			}

			table {
				border: 1px solid black;
				border-spacing: 10px;
			}

			th {
				width: 16.6%;
				border-bottom: 1px solid black;
				padding-bottom: 7px;
			}

			.hoverabletablerows:hover {
				background-color: #FFFFFF;
				font-weight: bold;
			}

			#majorimagegrid {
				display: flex;
				flex-wrap: wrap;
				padding: 0 4px;
				width: 50%;
				margin-right: auto;
				margin-left: auto;
			}

			.majorcolumn { /* Source: W3Schools */ 
  				float: left;
				display: inline-block;
			}

			.majorcolumn img {
  				margin-top: 12px;
				height: 80px;
			}

			#majorimagegrid:after {
  				content: "";
 				display: table;
 				clear: both;
			}
				
